.about {
    align-items: center;
    justify-content: center;
    padding: 0% 10%;
}

.about > figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem 10%;
}

.about-img {
    max-width: 30%;
    min-width: 264px;
    border-radius: 50%;
}

.about-content h1 {
    font-family: "Nunito", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: var(--sixth-color);
}

.about-content span {
    color: var(--fourth-color);
}

.about-content h3 {
    font-family: "Nunito", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: var(--sixth-color);
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: "Software Developer";
    color: var(--fourth-color);
    animation: words 12s infinite;
}

.typing-text span::after {
    content: "";
    background-color: var(--first-color);
    color: var(--fourth-color);
    border-left: 2px solid var(--first-color);
    animation: cursor 1s infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid var(--sixth-color);
    }
}

@keyframes words {
    0%,33% {
        content: "Software Developer";
    }
    34%,66% {
        content: "Data Analyst";
    }
    67%,100% {
        content: "Mobile & Web Developer";
    }
}

.about-content p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: justify;
    color: var(--sixth-color);
}

@media screen and (max-width: 1100px) {
    .about > figure {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .about-img {
        max-width: 264px;
        min-width: 0;
        width: 100%;
    }
}