.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0% 10%; /*up/bottom left/right*/
    gap: 4rem 10%; /*row column*/
}

.about-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.about-content {
    flex: 2;
    min-width: 400px;
}

.about-content h1 {
    font-family: "Nunito", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: var(--fifth-color);
}

.about-content span {
    color: var(--third-color);
}

.about-content h3 {
    font-family: "Nunito", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: var(--fifth-color);
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: "Software Developer";
    color: var(--third-color);
    animation: words 12s infinite;
}

.typing-text span::after {
    content: "";
    background-color: var(--first-color);
    color: var(--third-color);
    border-left: 2px solid var(--first-color);
    animation: cursor 1s infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid var(--fifth-color);
    }
}

@keyframes words {
    0%,33% {
        content: "Software Developer";
    }
    34%,66% {
        content: "Data Analyst";
    }
    67%,100% {
        content: "Mobile & Web Developer";
    }
}

.about-content p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: justify;
    color: var(--fifth-color);
}

.about-image img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}