.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "title title"
        "section1 section2";
    padding: 0% 10%;
    gap: 4rem;
}

.contact-title {
    grid-area: title;
    font-family: "Nunito", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: var(--fourth-color);
    text-align: center;
}

.form-section, .map-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--third-color);
    padding: 2rem;
    border-radius: 1rem;
}

.form-section {
    grid-area: section1;
}

.form-title {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--sixth-color);
    text-align: center;
}

#form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
}

#form-name, #form-email {
    flex: 1 1 40%;
}

#form-topic, #form-message, #form-submit {
    flex: 1 1 100%;
}

.form-label {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--sixth-color);
}

#form-submit {
    flex: 1 1 100%;
    background: var(--fourth-color);
    color: var(--first-color);
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: none;
}

.form-box {
    padding: 0.5rem;
    font-size: 1rem;
    transition: all 0.5s ease;
    border-radius: 0.5rem;
}

#form-submit {
    background: var(--third-color-);
    color: var(--sixth-color);
    font-family: "Nunito ", sans-serif;
    border: 2px solid var(--sixth-color); 
}

#form-submit:hover {
    background: var(--second-color);
    color: var(--fourth-color);
    transform: scale(1.01);
    border-color: var(--fourth-color);
    box-shadow: 0 0 20px var(--fourth-color);
}

.map-section {
    grid-area: section2;
}

.map-description {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--sixth-color);
    text-align: center;
}

.map {
    width: 100%;
    height: 22rem;
    border: none;
    display: block;
    border-radius: 1rem;
}

@media screen and (max-width: 1280px) {
    .contact {
        grid-template-columns: 1fr;
        grid-template-areas:
            "title"
            "section1"
            "section2";
    }
}