.references {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    gap: 4rem;
}

.references-title {
    font-family: "Nunito", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: var(--fourth-color);
    text-align: center;
}

.references-list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    background: var(--third-color);
}

.reference-item {
    max-width: 350px;
    flex: 1 1 300px;
    border: 2px solid var(--sixth-color);
    border-radius: 1rem;
    transition: all 0.5s ease;
    background: var(--first-color);
}

.reference-item:hover {
    background-color: var(--second-color);
    border-color: var(--fourth-color);
    transform: scale(1.01) translateY(-0.5rem);
    box-shadow: 0 0 20px var(--fourth-color);
}

.reference-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    transition: all 0.5s ease;
}

.reference-item:hover .reference-img {
    border-color: var(--sixth-color);
    box-shadow: 0 0 20px var(--sixth-color);
}

.reference-img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.reference-article > figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    gap: 1rem;
    padding: 2rem;
}

.reference-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: content;
    align-self: flex-start;
    gap: 1rem;
}

.reference-quote, .reference-name, .reference-description {
    color: var(--sixth-color);
    text-align: center;
}

.reference-position {
    color: var(--fourth-color);
    text-align: center;
    font-weight: 500;
}

.reference-name, .reference-position {
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
}

.reference-quote, .reference-description{
    font-size: 1.25rem;
    font-family: 'Nunito Sans', sans-serif;
}

.reference-quote {
    font-style: italic;
}