* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-bottom: 4rem;
}

main {
    gap: 4rem;
    display: flex;
    flex-direction: column;
}

main > section {
    scroll-margin-top: calc(1.75 * var(--header-height));
}