:root {
    --header-height: 80px;
    --header-bg-color: #0f0e17;
    --background-color: black;
    --text-color: white;
    --primary-color: rgba(229, 49, 112, 1);
    --secondary-color: rgba(229, 49, 112, 0.5);
}